<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminLayout}">
<head>
  <meta http-equiv="content-Type" content="text/html; charset=UTF-8">
  <link th:href="@{/css/noticeMng.css}" rel="stylesheet">

</head>
<body>
<div layout:fragment="content">
  <div id="container">
    <h2>공지사항 관리</h2>

    <table class="table">
      <thead>
      <tr>
        <th>NUM</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice, status : ${notices.getContent()}">
        <td th:text="${status.index + 1}"></td>
        <td><a th:href="'/notice/noticeDtl/' + ${notice.id}" th:text="${notice.title}"></a></td>
      </tr>
      </tbody>
    </table>

    <!-- Add a message if the notices list is empty -->
    <div th:if="${notices.getContent().size() == 0}">
      <p class="no">공지사항이 존재하지 않습니다.</p>
    </div>
  </div>
  <div th:with="start=${(notices.number/maxPage)*maxPage +1},
end=(${(notices.totalPages == 0) ? 1 : (start + (maxPage-1) < notices.totalPages ?
start + (maxPage - 1) : notices.totalPages)})">
    <ul class="pagination">
      <li th:classappend="${notices.number eq 0}?'disabled'">
        <a th:href="@{'/' + '&page=' + ${notices.number-1}}"
           aria-label='Previous' class="page-link">
          <div th:if="${notices.getNumber} != 0">
            <img src="/img/previous.png" alt="shop" width="20px" height="20px">
          </div>
        </a>
      </li>
      <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
          th:classappend="${notices.number eq page-1}?'active':''">
        <a th:href="@{'/shop' + '&page=' +${page + 1}}"
           th:inline="text" class="page-link">[[${page}]]</a>
      </li>
      <li class="disabled" th:classappend="${notices.number+1 ge notices.totalPages}?'disabled'">
        <a th:href="@{'/shop' + '&page=' + ${notices.number}}"
           aria-label="Next" class="page-link">
          <div th:if="${notices.getTotalPages} != ${notices.getNumber}+1">
            <img src="/img/Next.png" alt="shop" width="20px" height="20px">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>