<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="page_footer">
        <div class="center block">
            <div class="tt">
                CUSTOMER CENTER
            </div>
            <div class="ct">
                02-518-2288 <br>
                Monday - Friday AM9:00 - PM5:00 <br>
                Sat Sun Holiday Closed
            </div>
        </div>
        <div class="terms_condition block">
            <div class="tt">
                TERMS & CONDITION
            </div>
            <div class="ct">
                HOME <br>
                AGREEMENT <br>
                PRIVACY POLICY <br>
                GUIDE <br>
                DELIVERY <br>
            </div>
        </div>
        <div class="company block">
            <div class="tt">
                COMPANY
            </div>
            <div class="ct">
                COMPANY. CRANK <br>
                CEO. 이수연 <br>
                TEL. 032-1234-5678<br>
                ADDRESS. 인천광역시 부평구 경원대로 1366 7층
            </div>
        </div>
    </div>
</footer>
</html>