<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="page_footer">
        <div class="center block">
            <div class="tt">CUSTOMER CENTER</div>
            <div class="ct">
                <p>02-518-2288</p>
                <p>Monday - Friday AM9:00 - PM5:00</p>
                <p>Sat Sun Holiday Closed</p>
            </div>
        </div>
        <div class="company block">
            <div class="tt">COMPANY</div>
            <div class="ct">
                <p>COMPANY. CRANK</p>
                <p>CEO. 이수연</p>
                <p>ADDRESS. 인천광역시 부평구 경원대로 1366 7층</p>
            </div>
        </div>
        <div class="bank block">
            <div class="tt">BANK</div>
            <div class="ct">
                <p>국민은행 123-456789-01-012</p>
                <p>이수연: CRANK</p>
                <a href="/adminMain">협력사 바로가기</a>
            </div>
        </div>
    </div>
</footer>
</html>
