<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="header">
        <nav id="navbar" class="navbar">
            <a class="navber_icon" href="/">
                <img src="/img/logo.png" alt="shop" height="30px">
            </a>
    <ul class="navbar__menu">
        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a href="/admin/item/new">상품 등록</a>
        </li>
        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a href="/admin/items">상품 관리</a>
        </li>
        <li><a href="/shop">SHOP</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/cart">Cart</a></li>
        <li sec:authorize="isAuthenticated()"><a href="/orders">구매이력</a></li>
        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <a href="/notice/make">NOTICEWRITE</a>
        </li>
        <li><a href="/notice/notice">NOTICE</a></li>
        <li sec:authorize="isAnonymous()">
            <a href="/members/login">LOGIN</a></li>
        <li sec:authorize="isAuthenticated()">
            <a href="/members/logout">LOGOUT</a></li>
    </ul>
            <div class="sear">
    <form class="navbar__search"  th:action="@{/}" method="get">
        <input class="search" name="searchQuery" type="search"
               aria-label="Search">
        <button class="search_button" type="submit"></button>
    </form>
            </div>
    </nav>
</header>
<th:block layout:fragment="script">
    <script th:inline="javascript">
function scrollHeader(){
const header = document.getElementById('navbar')
// When the scroll is greater than 100 viewport height, add the scroll-header class to the header tag
if(this.scrollY >= 100){
header.classList.add('scroll-header');
} else {
header.classList.remove('scroll-header')
}
}
window.addEventListener('scroll', scrollHeader)
    </script>
</th:block>

</html>