<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar" class="sidebar">
    <ul class="category_m">
        <li class="category_shop" id="bag"><a href="">BAG</a></li>
        <li class="category_ch bag_ch"><a href="">CROSSBAG</a></li>
        <li class="category_ch bag_ch"><a href="">SHOULDERBAG</a></li>

        <li class="category_shop" id="clothing"><a href="">CLOTHING</a></li>
        <li class="category_ch clothing_ch"><a href="">TOP</a></li>
        <li class="category_ch clothing_ch"><a href="">DRESS</a></li>
        <li class="category_ch clothing_ch"><a href="">BOTTOM</a></li>
        <li class="category_ch clothing_ch"><a href="">OUTER</a></li>

        <li class="category_shop" id="accessories"><a href="">ACCESSORIES</a></li>
        <li class="category_ch acc_ch"><a href="">NECKLACE</a></li>
        <li class="category_ch acc_ch"><a href="">RING</a></li>
        <li class="category_ch acc_ch"><a href="">BRACELET</a></li>
        <li class="category_ch acc_ch"><a href="">EARRINGS</a></li>
        <li class="category_ch acc_ch"><a href="">KEYTRING</a></li>
        <li class="category_ch acc_ch"><a href="">ACC</a></li>

        <li class="category_shop" id="headwear"><a href="">HEADWEAR</a></li>
        <li class="category_ch head_ch"><a href="">HAIRPIN</a></li>
        <li class="category_ch head_ch"><a href="">HAIRBAND</a></li>
    </ul>
</div>