.content-mg {
  font-size: 16px;
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  font-weight: 500;
  margin: 0 auto;
}
.content-mg { width: 600px; }
.item {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(238, 238, 238);
}
.flex_1 {
  display: flex;
  flex-direction: row;
  width: 200px;
}
.item_inf {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 300px;
}
.checkall {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.rounded {
  width: 120px;
  height: 120px;
  margin: 0px 30px;
}
.btn {
  min-width: 120px;
  font-size: 12px;
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #666;
  border-radius: 2px;
  background-color: #000;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  font-weight: 600;
}
.itemNm { font-weight: 700; }
.main_img { width: 100px;}
.number { font-weight: 400; }
.count { width: 30px; }
.total {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(238, 238, 238);
  padding-top: 10px;
  margin-top: 20px;
}
