.page_footer{
    display: flex;
    margin: 20px 0px;
}
.block{
    flex: 1;
    margin: 2% 5%;
}
.tt{
    font-weight: 500;
    font-size: medium;
    margin-bottom: 5px;
}
.ct{
    color: darkslategrey;
}
p{

}