.navbar {
  display: flex;
  align-items: center;
  z-index: 999;
  width: 100vw;
  z-index: 999;
}

.sear {
  display: flex;
  border: none;
  align-items: flex-start;
}

.navbar__menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex-grow: 2;
  font-weight: 600;
  font-size: 15px;
  justify-content: flex-end;
  margin-top: 45px;
}

.navbar__menu > li > a {
  width: auto;
  text-decoration: none;
  padding: 0px 12px;
  color: black;
  transition: 0.2s ease-in;
}

.navbar__menu li { text-decoration: none; padding: 8px 12px; }

.navber_icon {
  display: flex;
  padding: 0;
  text-decoration: none;
  font-weight: bold;
  padding-left: 1px;
  padding-right: 8px;
}

.navber_icon img {
  height: 25px;
  padding-left: 13px;
  position: fixed;
  margin-left: 30px;
}

.navbar__menu > li > a:hover { color: #787878; }

.navbar__search {
  display: flex;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border: none;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  margin-right: 20px;
  margin-top: 30px;
  height: 20px;
}

.navbar__search:hover,
.navbar__search:focus {
  padding: 12px 0;
  outline: 0;
  border-bottom: 1px solid #575756;
  background-position: 100% center;
  outline: none;
}

.search { border: none; background-color: unset;}

/* 검색 입력란이 오른쪽에서 서서히 나타나는 애니메이션 */
@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
    padding: 0;
  }
  to {
    width: 150px; /* 최종 크기 */
    opacity: 1;
    padding: 8px; /* 적절한 내용으로 조절 */
  }
}

/* 초기 상태 설정 */
.navbar__search .search {
  width: 0;
  opacity: 0;
  padding: 8px; /* 적절한 내용으로 조절 */
  overflow: hidden;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

/* 검색 입력란이 호버 시 확장되는 스타일 */
.navbar__search:hover .search {
  width: 150px;
  opacity: 1;
  padding: 8px; /* 적절한 내용으로 조절 */
}

.search_button {
  background-image: url("/img/search.png");
  border: none;
  width: 20px;
  height: 20px;
  background-color: unset;
}

.navbar__menu > li > a:hover { color: gray; }

.hover-container { position: relative; cursor: pointer; }

.sub-elements {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  list-style: none;
  font-weight: 400;
}

.hover-container:hover .sub-elements {
  visibility: visible;
  opacity: 1;
  color: gray;
}

.sub-elements li a { color: #333; transition: color 0.3s ease-in-out; }

.sub-elements li a:hover { font-weight: 600; border-bottom: 1px solid black; }

.hover-text { display: block; }
a { text-decoration: none; color: black; }

@media screen and (max-width: 768px) {
  .navbar { flex-direction: column; padding: 8px 0px; }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    width: 100%;
    font-size: 15px;
  }

  .navbar__menu li { width: 100%; text-align: center; }
  .navber_icon { align-items: center; }
  .sear {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navber_icon img {
    padding-left: 0px;
    position: unset;
    margin-left: 0px;
    margin-top: 30px;
  }
  .navbar__search { margin-top: 0px; }
}
