        .content{
        margin: 0 auto;
        }
        select{
            margin-right : 10px;
            -webkit-appearance : none;
            -moz-appearance: none;
            appearance: none;
        }
        #container{
            width: 800px;
            margin: 0 auto;
        }
        .Mng_form{
            display: flex;
            flex-direction: column;
        }
        .align-items-center{
            display: flex;
            justify-content: flex-end;
        }
        table{
            margin-top: 20px;
        }
        table, td{
            border-top: 1px solid rgb(238,238,238);
            border-bottom: 1px solid rgb(238,238,238);
            border-collapse: collapse;
            padding: 12px;
            text-align: center;
        }
        .arrow{
            margin-top: 7px;
        }
        .sel1{
            width: auto;
            padding: 5px 15px;
            border: 1px solid #aaaa;
            border-radius: 5px;
            margin-right: 3px;
        }
        .search_box{
        padding: 5px 15px;
        border: 1px solid #aaaa;
        border-radius: 5px;
        }
        .btn_search{
            background-color: black;
            color: white;
            min-width: 60px;
            font-size: 12px;
            display: inline-block;
            padding: 10px 12px;
            border: 1px solid #666;
            border-radius: 2px;
            background-color: #000;
            text-align: center;
            font-weight: 600;
        }
        .pagination{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        .pagination li{
            display: flex;
            width: 30px;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }
        .disabled{
            padding: 15px 10px 10px 10px;
        }