#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel {
  eight: 100%;
  padding: 5px 12px;
  margin-left: 5%;
  background-color: white;
  color: darkgray;
  width: 100px;
}
.order_btn {
  border: 1px solid black;
  background-color: white;
  width: 80px;
  height: 40px;
  font-size: 13px;
  margin-left: 2px;
}
.review_container,
.likes_container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.img_form {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-left: 35px;
}
.content { width: 800px; margin: 0 auto; }
.repImg { width: 100px; }
.con { border: 1px solid #eee; padding: 5%; }
.d-flex { display: flex; align-items: center; }
.m-flex {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  width: 12vw;
}
.alignfont {
  width: 20vw;
  margin-bottom: 10%;
  margin-left: 5%;
}
.order_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemNm { font-weight: 700; }
.likes_title { font-size: 20px; font-weight: 500; }
