.content-mg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review_form {
  display: flex;
  flex-direction: column;
  width: 450px;
}
#preview { display: flex; }
#preview > img { width: 150px;}

.rating { display: inline-block; }

.rating input { display: none; }

.rating label {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("/img/star.svg");
  background-size: cover;
  display: inline-block;
}

.rating label.filled { background-image: url("/img/fillStar.svg"); }
.custom-file-input {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-file-input input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.custom-file-label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100px;
  text-align: center;
}
#image { display: none; }

.custom-file-label::after { content: "사진 첨부하기"; }

.custom-file-input input:lang(en) ~ .custom-file-label::after {  content: "Browse"; }

.custom-file-input input:focus ~ .custom-file-label,
.custom-file-input input.has-value ~ .custom-file-label {
  border-color: #323232;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.custom-textarea {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
}
.review_title { height: 30px; }

.custom-textarea:focus { outline: none; /* 포커스 효과 제거 */ }
.img_preview { display: flex; }
.btn {
  min-width: 90px;
  font-size: 12px;
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid #666;
  border-radius: 2px;
  background-color: #000;
  text-align: center;
  background-color: black;
  color: white;
  margin-top: 20px;
  width: 30px;
}
.button { display: flex; justify-content: center; }
.text { font-size: 16px; margin-right: 20px; }
.itemNm { font-size: 16px; margin-bottom: 20px; }
.title_form,
.comment_form {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}
