<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8"/>
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link th:href="@{/css/header.css}" rel="stylesheet">
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <!-- Demo styles -->

</head>

<body>
<div th:replace="~{fragments/header::header}"></div>
<!-- Swiper -->
<div layout:fragment="content">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/big_title1.jpg">
            </div>
            <div class="swiper-slide">
                <img src="img/big_title2.jpg">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <ul class="main__content">
        <th:block th:each="item, status: ${items.getContent()}">
            <li class="card">
                <a th:href="'/item/' + ${item.id}" class="text-dark">
                    <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}">
                    <div class="card-body">
                        <div class="card-title">[[${item.itemNm}]]</div>
                        <div class="card-price">[[${item.price}]]won</div>
                    </div>
                </a>
            </li>
        </th:block>
    </ul>
    <div th:with="start=${(items.number/maxPage)*maxPage +1},
end=(${(items.totalPages == 0) ? 1 : (start + (maxPage-1) < items.totalPages ?
start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination">
            <li th:classappend="${items.number eq 0}?'disabled'">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}"
                   aria-label='Previous' class="page-link">
                    <div th:if="${items.getNumber} != 0">
                        <img src="/img/previous.png" alt="shop" width="20px" height="20px">
                    </div>
                </a>
            </li>
            <li class="page-item" th:each="page: ${#numbers.sequence(start,end)}"
                th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' +${page -1}}"
                   th:inline="text" class="page-link">[[${page}]]</a>
            </li>
            <li class="disabled" th:classappend="${items.number+1 ge items.totalPages}?'disabled'">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number + 1}}"
                   aria-label="Next" class="page-link">
                    <div th:if="${items.getTotalPages} != ${items.getNumber}+1">
                        <img src="/img/Next.png" alt="shop" width="20px" height="20px">
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div th:replace="~{fragments/footer::footer}"></div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>
</body>

</html>